@model PokemonWebapp.ViewModels.HuntViewModel.HuntViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hunt Page</title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Special+Elite" rel="stylesheet">
</head>
<body>
    <h2>Let's hunt!</h2>

    @{
        var random = new Random();
        var pokemon = Model.User.Pokemons[random.Next(0, Model.User.Pokemons.Count)];
        var multiplyerComputer = random.Next(1, 5);
        var multiplyerUser = random.Next(1, 5);
        var fightpointComputer = multiplyerComputer * Model.Pokemon.Level;
        var fightpointPlayer = multiplyerUser * pokemon.Level;
    }

    <div>
        <table class="hunt">
            <tr style="height: 40px">
                <th width="150">                    
                </th>
                <th width="350">
                    A new Pokémon appeared.
                </th>
                <th width="250">
                    
                </th>
                <th width="350">
                    <u>You</u> are playing with this one.
                </th>
            </tr>
            <tr style="height: 40px">
                <th width="150">
                    Level
                </th>
                <th width="350">
                    @Model.Pokemon.Level
                </th>
                <th width="250">

                </th>
                <th width="350">
                    @pokemon.Level
                </th>
            </tr>
            <tr style="height: 40px">
                <th width="150">
                    Type
                </th>
                <th width="350">
                    @Model.Pokemon.Type
                </th>
                <th width="250">
                    
                </th>
                <th width="350">
                    @pokemon.Type
                </th>
            </tr>
            <tr style="height: 40px">
                <th width="150">
                    Nice picture
                </th>
                <th width="350">
                    <img src="~/Images/@(Model.Pokemon.Type).png" height="250" />
                </th>
                <th width="250">
                    <img src="~/Images/vs.png" height="200" />
                </th>
                <th width="350">
                    <img src="~/Images/@(pokemon.Type).png" height="250" />
                </th>
            </tr>

            <tr style="height: 40px">
                <th width="150">
                    Lucky number
                </th>
                <th width="350">
                    @multiplyerComputer                   
                </th>
                <th width="250">
                    
                </th>
                <th width="350">
                    @multiplyerUser
                </th>
            </tr>

            <tr style="height: 40px">
                <th width="150">
                    Fight point
                </th>
                <th width="350">
                    @fightpointComputer
                </th>
                <th width="250">

                </th>
                <th width="350">
                    @fightpointPlayer
                </th>
            </tr>

            <tr style="height: 40px">
                <th width="150">
                </th>
                <th width="350">
                </th>
                <th width="250">
                    <br/>
                    @{
                        if (fightpointPlayer > fightpointComputer)
                        {
                            <div>You <u>won</u> this fight! Congrats!</div><br />
                        int id = @Model.User.Pokemons.Max(m => m.PokemonId) + 1;
                            <form action="/user/catch" method="post">
                                <input type="hidden" name="PokemonId" value="@id" />
                                <input type="hidden" name="Type" value="@Model.Pokemon.Type" />
                                <input type="hidden" name="Level" value="@Model.Pokemon.Level" />

                                <input type="hidden" name="Player" value="@Model.User.Name" />
                                <input type="hidden" name="PlayerFightPoint" value="@fightpointPlayer" />
                                <input type="hidden" name="PlayerPokemon" value="@pokemon.Type" />
                                <input type="hidden" name="PlayerPokemonId" value="@pokemon.PokemonId" />
                                <input type="hidden" name="PlayerPokemonLevel" value="@pokemon.Level" />
                                <input type="hidden" name="PlayerPokemonLuckyNumber" value="@multiplyerUser" />
                                <input type="hidden" name="ComputerFightPoint" value="@fightpointComputer" />
                                <input type="hidden" name="ComputerPokemon" value="@Model.Pokemon.Type" />
                                <input type="hidden" name="ComputerPokemonId" value="@Model.Pokemon.PokemonId" />
                                <input type="hidden" name="ComputerPokemonLevel" value="@Model.Pokemon.Level" />
                                <input type="hidden" name="ComputerPokemonLuckyNumber" value="@multiplyerComputer" />

                                <input type="submit" value="Back to profile" style="font-size: 20px"/>
                            </form>
                        }
                        else
                        {
                            <div>You <u>lost</u> this time! Sorry.</div><br />
                            <form action="/user/remove" method="post">
                                <input type="hidden" name="PokemonId" value="@pokemon.PokemonId" />

                                <input type="hidden" name="Player" value="@Model.User.Name" />
                                <input type="hidden" name="PlayerFightPoint" value="@fightpointPlayer" />
                                <input type="hidden" name="PlayerPokemon" value="@pokemon.Type" />
                                <input type="hidden" name="PlayerPokemonId" value="@pokemon.PokemonId" />
                                <input type="hidden" name="PlayerPokemonLevel" value="@pokemon.Level" />
                                <input type="hidden" name="PlayerPokemonLuckyNumber" value="@multiplyerUser" />
                                <input type="hidden" name="ComputerFightPoint" value="@fightpointComputer" />
                                <input type="hidden" name="ComputerPokemon" value="@Model.Pokemon.Type" />
                                <input type="hidden" name="ComputerPokemonId" value="@Model.Pokemon.PokemonId" />
                                <input type="hidden" name="ComputerPokemonLevel" value="@Model.Pokemon.Level" />
                                <input type="hidden" name="ComputerPokemonLuckyNumber" value="@multiplyerComputer" />

                                <input type="submit" value="Back to profile" style="font-size: 20px"/>
                            </form>
                        }
                    }
                </th>
                <th width="350">
                    
                </th>
            </tr>

        </table><br />
    </div>
</body>
</html>