@model PokemonWebapp.ViewModels.HuntViewModel.HuntViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.User.Name's Profile Page</title>
    <link rel="stylesheet" type="text/css" href="~/Css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Special+Elite" rel="stylesheet">
</head>
<body>
    <h2>@Model.User.Name's Pokémons:</h2>

    @{
        if (Model.User.Pokemons.Count > 0)
        {
            <h3>
                <a href="/user/hunt" style="font-size: 30px">Let's go hunting!</a>
            </h3>
        }
        else
        {
            <h3>
                <a href="/" style="font-size: 30px">Let's start it again!</a>
            </h3>
        }
    }

    <h3>
        <a href="/statistics/@Model.User.Name" style="font-size: 20px">@(Model.User.Name)'s fight history</a>
    </h3>

    <h3>
        <a href="/statistics/all" style="font-size: 20px">Fight history for all players</a>
    </h3>

    <div>
        <table border="1">
            <tr>
                <th width="40">
                    No.
                </th>
                <th width="140">
                    Type
                </th>
                <th width="100">
                    Level
                </th>
                <th width="150">
                    Cute picture
                </th>
            </tr>
            @{foreach (var pokemon in Model.User.Pokemons)
                {
                    <tr>
                        <th width="40">
                            @pokemon.PokemonId
                        </th>
                        <th width="140">
                            @pokemon.Type
                        </th>
                        <th width="100">
                            @pokemon.Level
                        </th>
                        <th width="150">
                            <img src="~/Images/@(pokemon.Type).png" height="100" />
                        </th>
                    </tr>
                }
            }
        </table>
    </div>

    @{ 
        if (Model.User.Pokemons.Count == 0)
        {
            <br />var text = "Better luck next time!";
            <div>
                @text <br /><br />
                <img src="~/Images/sad_pikachu.png" height="300" />
            </div>
        }
    }

</body>
</html>